.view {margin-bottom:18px; margin-right:9px; margin-left:9px;}.da-thumbs article.da-animate p, p.da-animatenh {color:#C7C7C7 !important;}span.link_post, span.zoom, span.zooma {background-color:#474747;}.da-thumbs article.da-animate {cursor: pointer;}.view,.view img,.da-thumbs,.da-thumbs article.da-animate {border-radius:0px;}.view {-webkit-box-shadow: 1px 1px 3px #4A4A4A;
   -moz-box-shadow: 1px 1px 3px #4A4A4A;
   box-shadow: 1px 1px 3px #4A4A4A;}#mbOverlay {background: url(../css/images/patterns/no_pattern); background-repeat: repeat;}#mbOverlay {background-color:#707070;}p.da-animatenh, .da-thumbs article.da-animate p{margin-bottom: 0px !important; bottom:0px;}#emgoptions .portfolio-tabs a:hover, #emgoptions a.selected {color: rgb(160,206,78) !important;}#emgoptions a.selected {border-top: 3px solid rgb(160,206,78) !important;}.da-thumbs article{position: absolute; background: rgba(0,0,0,0.4); background-repeat:repeat; width: 100%; height: 100%;}#mbPrevLink {
    	background: url("../css/images/prev.png") no-repeat scroll 0% 0% transparent !important;
    	width: 40px !important;
    	height: 80px !important;
		position: absolute !important;
		left: 15px !important;
		z-index:100000;
		opacity: 0.7;
		outline: none !important;
		margin-top:-100px !important;
}

#mbNextLink {
    	background: url("../css/images/next.png") no-repeat scroll 0% 0% transparent !important;
    	width: 40px !important;
    	height: 80px !important;
		position: absolute !important;
		right: 15px !important;
		z-index:100000;	
		opacity: 0.7;
		outline: none !important;
		margin-top:-100px !important;
}	
span.zoom{
background-image:url(../css/images/magnify/Icon-4.png); background-repeat:no-repeat; background-position:center;
}span.emg-badges{background:url(../css/images/badges/Blue.png); background-repeat:no-repeat; background-position:center;
}span.emg-badges{right:1px; top:1px;}#emgoptions .portfolio-tabs li{ margin:0 !important; border-left:1px solid #ccc !important;}
